
.image-slider{
    white-space: nowrap;
    animation: slide-right 20s linear infinite;
}

.image-slider img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}
@keyframes slide-right {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);} 
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: hwb(0 94% 6% / 0.781);
}

.left-div, .right-div {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}
.right-div {
    text-align: right;
}
.top75 {
    margin-top: 1000px;
}
h2{
    font-display: 8px;
    font-size: 20px;
    padding: 20px;
    left: 16px;
    max-width: 50rem;
    margin-left: 200px;
}
p{
    font-display: 8px;
    font-size: 15px;
    padding: 20px;
    left: 16px;
    max-width: 50rem;
    margin-left: 200px;
}
.top35 {
    font-display: 8px;
    font-size: 20px;
    left: 16px;
    max-width: 50rem;
    margin-left: 220px;
}
.top45 {
    margin-left: 220px;
    color: rgb(119, 115, 115);
}
.header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
}

.topnav-left {
    display: flex;
    text-align: center;
}

.logo {
    width: 500px;
    height: auto;
}

.topnav-right {
    list-style: none;
    margin: 30px;
    padding: 0;
}

.topnav-right li {
    display: inline-block;
    margin-left: 15px;
}

.topnav-right li:last-child {
    margin-right: 10px;
}
a {
    text-decoration: none;
}
footer {
    display: flex;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
}
footer a {
    list-style: none;
    margin: 10px;
    padding: 0; 
    display: flex;
    text-align: center;
}
.top90 {
    display: right;
    text-align: right;
    margin-left: 700px;
}

.dropdown{
    width: 200px;
    margin: 20px auto;
}

select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}

option{
    padding: 5px;
}
/*style for the header and navigation bar (optional) */
header{
    background-color: #FFF;
    padding: 0;
    color: #333;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    position: relative;
}
/*style for the main navigation links */
nav a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-left: 100px;
    display: flex;

    
}
/*style for the dropdown */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #ffffffad;
}

nav li:hover > ul{
    display: block;
}
/* style for the dropdown link*/
nav ul ul li {
    display: block;
}

nav ul ul a {
    padding: 3px 5px;
    color: #333;
    text-decoration: black;
    font-size: larger;
}
/*optional style for the current page link */
nav a.active {
    background-color: #555;
}

.top-web {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 6px;
}
.top-web div {
    width: 500px;
    height: 400px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 1.9rem;
}
.top-web div img {
    width: 500px;
    height: 400px;
    border-radius: 10px;
}
